<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="payParam" class="com.martin.constant.PayParam">
        <property name="body" value="${pay.body}"></property>
        <property name="certPath" value="${pay.certPath}"></property>

        <property name="aliUrl" value="${alipay.url}"></property>
        <property name="aliVerifyUrl" value="${alipay.verifyUrl}"></property>
        <property name="aliAuthCode" value="${alipay.authCode}"></property>
        <property name="aliAuthUrl" value="${alipay.authUrl}"></property>
        <property name="aliPayService" value="${alipay.payService}"></property>
        <property name="aliRefundService" value="${alipay.refundService}"></property>
        <property name="aliAppId" value="${alipay.appId}"></property>
        <property name="aliPartner" value="${alipay.partner}"></property>
        <property name="aliSellerId" value="${alipay.sellerId}"></property>
        <property name="aliPrivateKey" value="${alipay.privateKey}"></property>
        <property name="aliPublicKey" value="${alipay.publicKey}"></property>
        <property name="aliSignType" value="${alipay.signType}"></property>
        <property name="aliMd5Key" value="${alipay.md5key}"></property>
        <property name="aliInputCharset" value="${alipay.inputCharset}"></property>
        <property name="aliPaymentType" value="${alipay.paymentType}"></property>
        <property name="aliAntiPhishingKey" value="${alipay.antiPhishingKey}"></property>
        <property name="aliExterInvokeIp" value="${alipay.exterInvokeIp}"></property>
        <property name="aliItBPay" value="${alipay.itBPay}"></property>
        <property name="aliAuthRetUrl" value="${alipay.authRetUrl}"></property>
        <property name="aliNotifyUrl" value="${alipay.notifyUrl}"></property>
        <property name="aliReturnUrl" value="${alipay.returnUrl}"></property>
        <property name="aliRefundUrl" value="${alipay.refundUrl}"></property>

        <property name="tenOrderUrl" value="${tenpay.orderUrl}"></property>
        <property name="tenQueryUrl" value="${tenpay.queryUrl}"></property>
        <property name="tenPayUrl" value="${tenpay.payUrl}"></property>
        <property name="tenRefundUrl" value="${tenpay.refundUrl}"></property>
        <property name="tenAuthCode" value="${tenpay.authCode}"></property>
        <property name="tenAuthUrl" value="${tenpay.authUrl}"></property>
        <property name="tenAppId" value="${tenpay.appid}"></property>
        <property name="tenMchId" value="${tenpay.mchId}"></property>
        <property name="tenDeviceInfo" value="${tenpay.deviceInfo}"></property>
        <property name="tenPrivateKey" value="${tenpay.privateKey}"></property>
        <property name="tenAppSecret" value="${tenpay.appSecret}"></property>
        <property name="tenSignType" value="${tenpay.signType}"></property>
        <property name="tenLimitPay" value="${tenpay.limitPay}"></property>
        <property name="tenTradeType" value="${tenpay.tradeType}"></property>
        <property name="tenAuthRetUrl" value="${tenpay.authRetUrl}"></property>
        <property name="tenNotifyUrl" value="${tenpay.notifyUrl}"></property>
        <property name="tenReturnUrl" value="${tenpay.returnUrl}"></property>
    </bean>

    <bean id="pushConstant" class="com.martin.constant.PushConstant">
        <property name="url" value="${push.url}"></property>
        <property name="appId" value="${push.appId}"></property>
        <property name="appKey" value="${push.appKey}"></property>
        <property name="masterSecret" value="${push.masterSecret}"></property>
    </bean>
</beans>
