* {
    margin: 0;
    padding: 0;
}

.moon-404 {
    background: url(../img/404.png) center top no-repeat;
    background-size: auto 12rem;
    top: 6rem;
    padding-top: 12rem;
}

.moon-500 {
    background: url(../img/500.png) center top no-repeat;
    background-size: auto 12rem;
    top: 6rem;
    padding-top: 12rem;
}

.moon-error {
    background: url(../img/cuowu.png) center top no-repeat;
    background-size: auto 12rem;
    top: 6rem;
    padding-top: 12rem;
}

.moon-success {
    background: url(../img/cuowu.png) center top no-repeat;
    background-size: auto 12rem;
    top: 6rem;
    padding-top: 12rem;
}

h1 {
    font-size: 1.875em;
}

body, button, input, select, textarea {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    font-family: Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-weight: 300;
}

body, html {
    height: 100%;
    -webkit-touch-callout: none;
    -ms-touch-callout: none;
}

.moon-content {
    padding-top: 15px;
}

.moon-content h5 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f9;
}

input {
    line-height: normal;
}

.moon-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: box;
    width: 100%;
    position: relative;
    padding: 7px 0;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background: #ff342e;
    height: 50px;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    box-align: center;
}

.moon-header h1 {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    box-flex: 1;
    line-height: 18px;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}

.moon-header .title-sub {
    font-size: 13px;
    font-weight: 300;
}

.moon-header h1 a, .moon-header h1 a:visited {
    color: #fff;
}

.moon-header .icon-arrow-back {
    text-indent: -300px;
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: absolute;
    top: 50%;
    left: 11px;
    margin-top: -6px;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

.moon-header .moon-header-operate, .moon-header .moon-header-reverse {
    position: absolute;
    top: 6px;
    text-align: center;
    color: #fff;
}

.moon-header .moon-header-reverse {
    top: 9px;
    left: 5px;
}

.moon-header .moon-header-operate {
    top: 12px;
    right: 5px;
    padding-right: 6px;
    color: #00a8f0;
}

.moon-header .moon-header-operate .icon-help {
    margin: -8px -8px 0 0;
}

.moon-header .moon-header-operate-icon, .moon-header .moon-header-reverse-icon {
    height: 32px;
    padding: 0 10px 0 0;
    color: #d3d3d2;
}

.moon-header .moon-header-reverse-icon span {
    font-size: 14px;
    display: inline-block;
    padding: 6px 0 0 26px;
}

.moon-list .moon-list-item img {
    vertical-align: middle;
}

.moon-list .moon-list-item .moon-list-item-content {
    width: auto;
}

.moon-list .moon-list-item .moon-list-item-icon {
    display: inline-block;
    white-space: nowrap;
}

.moon-list-flat-chip .moon-list-item {
    position: relative;
}

.moon-list-flat-chip .moon-list-item:before {
    display: block;
    content: " ";
    position: absolute;
    top: -1px;
    left: 0;
    width: 15px;
    height: 100%;
    background-color: #fff;
    padding: 1px 0;
}

.moon-list-flat-chip .moon-list-item:first-child:before {
    padding-top: 0;
    top: 0;
}

.moon-list-flat-chip .moon-list-item:last-child:before {
    padding-bottom: 0;
}

.moon-list .moon-icon-arrow-horizontal, .moon-list .moon-icon-arrow-vertical {
    display: block;
    background: none;
    width: 7px;
    height: 7px;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    position: absolute;
    top: 50%;
    right: 16px;
    margin-top: -4px;
    z-index: 1;
    -webkit-transform: rotate(315deg);
    transform: rotate(315deg);
}

.moon-list .moon-icon-arrow-vertical {
    margin-top: -6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.moon-list .moon-list-item-icon {
    font-size: 32px;
    line-height: 30px;
    color: #6786c7;
    height: 30px;
    vertical-align: middle;
}

.moon-list .moon-list-item-icon.icon-tip img {
    margin-top: -7px;
}

.moon-list .moon-list-item-icon:last-child {
    margin-left: 6px;
}

.moon-field {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 6px 0;
}

.moon-field:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
}

.moon-field label {
    display: block;
}

.moon-list {
    padding: 0 0 20px;
}

.moon-list, .moon-list .moon-list-item {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.moon-list .moon-list-item {
    display: block;
    position: relative;
    z-index: 10;
    margin: 0;
    padding: 10px 30px 10px 15px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    color: #000;
    text-align: left;
    vertical-align: middle;
}

.moon-list .moon-list-item a {
    color: #000;
}

.moon-list .moon-list-item:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.moon-list div.moon-list-item {
    padding: 10px 15px;
}

.moon-list .moon-list-item:last-child {
    border-bottom: 1px solid #e5e5e5;
}

.moon-list .moon-list-item .moon-list-item-text, .moon-list .moon-list-item .moon-list-item-title {
    display: block;
}

.moon-list .moon-list-item .moon-list-item-title {
    float: left;
    width: 90px;
    color: #000;
}

.moon-list div.moon-list-item .moon-list-item-title {
    width: 112px;
}

.moon-list .moon-list-item .moon-list-item-text {
    text-align: right;
    width: auto;
    color: gray;
}

.moon-list div.moon-list-item-form {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 15px;
}

.moon-list div.moon-list-item-form input[type=email], .moon-list div.moon-list-item-form input[type=number], .moon-list div.moon-list-item-form input[type=password], .moon-list div.moon-list-item-form input[type=search], .moon-list div.moon-list-item-form input[type=tel], .moon-list div.moon-list-item-form input[type=text], .moon-list div.moon-list-item-form input[type=url] {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -ms-appearance: none;
    padding: 8px 0;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
}

.moon-list div.moon-list-item-form select {
    position: relative;
    z-index: 10;
    cursor: pointer;
    width: 100%;
    height: 45px;
    border: none;
    background: transparent;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.moon-button {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    padding: 4px 8px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 2;
    border-radius: 4px;
    background-clip: padding-box;
}

.moon-button-red {
    border: 1px solid #ff342e;
    color: #fff;
    background: #ff342e;
}

.moon-button-red:visited, .moon-button:visited {
    color: #fff;
}

.moon-button-red:active, .moon-button:active {
    border: 1px solid #2284dd;
    background: #2284dd;
}

.moon-button-white {
    border: 1px solid #ddd;
    background: #fbfbfb;
}

.moon-button-white, .moon-button-white:visited {
    color: #666;
}

.moon-button-white:active {
    border: 1px solid #d6d6d6 !important;
    background: #fbfbfb;
}

.moon-button[disabled=disabled] {
    color: #e6e6e6;
    background: #f8f8f8;
    border: 1px solid #dedede;
}

.moon-section {
    padding: 0 15px 10px;
    overflow: auto;
}