@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.ttf');
}

.icon-font {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.span-right{
     display: inline-block;
     position: absolute;
     right: 5px;
     top: 25%;
     height: 50%;
     border-left: 1px solid #D5D5D5;
 }

.icon-select{
    position: absolute;
    right: 10px;
    top:10px;
}

.icon-select:before {
    content: "\e618";
    font-size: 25px;
    color:grey;
}

.icon-select-active:before {
    content: "\e608";
    font-size: 25px;
    color:#E93F4C;
}